# Recommendations with MovieTweetings: Most Popular Recommendation

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Read in the datasets
movies = pd.read_csv('movies_clean.csv')
reviews = pd.read_csv('reviews_clean.csv')

#### 1. How To Find The Most Popular Movies

For this notebook, we have a single task.  The task is that no matter the user, we need to provide a list of the recommendations based on simply the most popular items.

For this task, we will consider what is "most popular" based on the following criteria:

* A movie with the highest average rating is considered best
* With ties, movies that have more ratings are better
* A movie must have a minimum of 5 ratings to be considered among the best movies
* If movies are tied in their average rating and number of ratings, the ranking is determined by the movie that is the most recent rating

With these criteria, the goal for this notebook is to take a **user_id** and provide back the **n_top** recommendations.  Use the function below as the scaffolding that will be used for all the future recommendations as well.

In [2]:
reviews

        user_id  movie_id  rating   timestamp                 date
0             1    114508       8  1381006850  2013-10-05 21:00:50
1             2    358273       9  1579057827  2020-01-15 03:10:27
2             2  10039344       5  1578603053  2020-01-09 20:50:53
3             2   6751668       9  1578955697  2020-01-13 22:48:17
4             2   7131622       8  1579559244  2020-01-20 22:27:24
...         ...       ...     ...         ...                  ...
856173    66652   1843866      10  1396584788  2014-04-04 04:13:08
856174    66652   1951264      10  1385101263  2013-11-22 06:21:03
856175    66652   2267998       8  1415578263  2014-11-10 00:11:03
856176    66652   2582846      10  1402022562  2014-06-06 02:42:42
856177    66653   1623205       6  1362832655  2013-03-09 12:37:35

[856178 rows x 5 columns]

In [42]:
ranked_rating = reviews.groupby('movie_id').agg({'rating':['mean','count'], 'date':['max']}).reset_index()
ranked_rating.columns = ['movie_id','avg_rating','num_rating','most_recent_review']
ranked_rating = ranked_rating[ranked_rating.num_rating >= 5]
ranked_rating.sort_values(['avg_rating','num_rating','most_recent_review'],ascending=False,inplace=True)

In [115]:
def popular_recommendations(user_id, n_top):
    '''
    INPUT:
    user_id - the user_id of the individual you are making recommendations for
    n_top - an integer of the number recommendations you want back
    OUTPUT:
    top_movies - a list of the n_top recommended movies by movie title in order best to worst
    '''
    # Do stuff
    id_list = ranked_rating.movie_id[:n_top].values
    top_movies = list(movies[movies.movie_id.isin(id_list)].movie)
    
    
    return top_movies # a list of the n_top movies as recommended

In [116]:
popular_recommendations(1, 20)

['Sátántangó (1994)',
 'Romeo Juliet (2009)',
 'Foster (2011)',
 'Third Contact (2011)',
 'Crawl Bitch Crawl (2012)',
 'Crystal Lake Memories: The Complete History of Friday the 13th (2013)',
 "Quiet Riot: Well Now You're Here, There's No Way Back (2014)",
 'CM101MMXI Fundamentals (2013)',
 'Selam (2013)',
 'Birlesen Gonuller (2014)',
 'Make Like a Dog (2015)',
 'MSG 2 the Messenger (2015)',
 'Pandorica (2016)',
 'Avengers: Age of Ultron Parody (2015)',
 'Be Somebody (2016)',
 'Let There Be Light (2017)',
 'Five Minutes (2017)',
 'Agnelli (2017)',
 'Kitbull (2019)',
 'Chasing Happiness (2019)']